name: Java CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositorio
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Compilar cada ficha separadamente
        run: |
          for d in Ficha_Exercicio_*; do
            echo "== Compilando $d =="
            (cd "$d" && javac *.java)
          done

